In [9]:
import pandas as pd
import numpy as np

In [12]:
fileName = 'Validated Data from Heather.xlsx'
full_df = pd.read_excel(fileName)

In [15]:
full_df.head(5)

,programreportid,programdescription,impactarea,genome,outcome,outcomeid
0,1000,The Cultural Allianceâ€™s work falls into two ...,Arts,Creative Community,Strengthened Creative Community,199.0
1,1004,The Unity Performing Arts programming is focus...,Youth,Youth Development,Social and Emotional Skills,190.0
2,1029,ChiS&E provides a rigorous 4 week summer en...,Education,STEM,STEM Proficiency,196.0
3,1010,CodePath.org offers a three-part program that ...,Education,STEM,STEM Persistence,195.0
4,1061,"The Baltimore Educational Scholarship Trust, i...",Education,College and Career Readiness,High School Completion,89.0

In [18]:
#Drop all null values
full_df = full_df.dropna()
full_df.count()

programreportid       6442
programdescription    6442
impactarea            6442
genome                6442
outcome               6442
outcomeid             6442
dtype: int64

In [21]:
#Convert outcomeid to integer type
full_df['outcomeid'] = full_df['outcomeid'].astype(int)
full_df.dtypes

programreportid        int64
programdescription    object
impactarea            object
genome                object
outcome               object
outcomeid              int32
dtype: object

In [24]:
#Remove special characters from program description
import re
full_df['programdescription'] = [re.sub(r"[^A-Za-z0-9 :.,'-]+", "", x) for x in full_df['programdescription']]
#Leave only letters, numbers, and some punctutation marks (colon, period, comma, apostraphe, hyphen)

In [26]:
full_df.head(10)

,programreportid,programdescription,impactarea,genome,outcome,outcomeid
0,1000,The Cultural Alliances work falls into two pri...,Arts,Creative Community,Strengthened Creative Community,199
1,1004,The Unity Performing Arts programming is focus...,Youth,Youth Development,Social and Emotional Skills,190
2,1029,ChiSE provides a rigorous 4 week summer enr...,Education,STEM,STEM Proficiency,196
3,1010,CodePath.org offers a three-part program that ...,Education,STEM,STEM Persistence,195
4,1061,"The Baltimore Educational Scholarship Trust, i...",Education,College and Career Readiness,High School Completion,89
5,1069,Y.O.U.'s Out-of-School Time OST Program provid...,Youth,Youth Development,Social and Emotional Skills,190
7,1099,"Cedars Hope is a permanent, supported housing ...",Critical Human Needs,Homelessness,Reduce Homelessness,164
8,1105,Junior Achievement's programs center on the pi...,Economic Development,Financial Health,Financial Literacy & Skills,77
9,111,"Prepped enables underserved, low income, and f...",Education,College and Career Readiness,Career Access and Readiness,28
10,1145,Rapid Rehousing is HUD model program and the N...,Critical Human Needs,Homelessness,Reduce Homelessness,164